
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
    background-color:#ebf7f5;
}


.bottom-cloud{
    position: absolute;
    left: 250px ;
    bottom: 350px;
}

.top-cloud{
    position: absolute;
    right: 280px;
    top:200px;
}


h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 10rem;
    color: #62B6B7;
}


h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #62B6B7;
    font-weight: normal;
    padding: 10px;
}


hr{
    border-style: dotted;
    border-bottom: none;
    width: 5%;
    border-width: 5px;
    color: #b1baba;
    margin: 100px auto;
}

p{
    line-height: 2;
}


.profile-bio{
    width: 30%;
    margin: auto;
}


h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}


.top-container{
    background-color:#B6EADA;
    position:relative;
    padding-top: 200px; 
}


.middle-container{
  margin: 100px 0;
}


.bottom-container{
  background-color: #B6EADA;
  padding: 50px 0 20px 0;
}

.contact-me{
    line-height: 2;
  }


  .contact-message{
    width: 40%;
    margin: 40px auto 60px auto;
  }



.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align:left;
}

.developer-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}


.photography-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}


.btn {
    background: #16b0b5;
    background-image: -webkit-linear-gradient(top, #16b0b5, #165d5e);
    background-image: -moz-linear-gradient(top, #16b0b5, #165d5e);
    background-image: -ms-linear-gradient(top, #16b0b5, #165d5e);
    background-image: -o-linear-gradient(top, #16b0b5, #165d5e);
    background-image: linear-gradient(to bottom, #16b0b5, #165d5e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  

  .btn:hover {
    background: #14c3cc;
    background-image: -webkit-linear-gradient(top, #14c3cc, #0ccfaf);
    background-image: -moz-linear-gradient(top, #14c3cc, #0ccfaf);
    background-image: -ms-linear-gradient(top, #14c3cc, #0ccfaf);
    background-image: -o-linear-gradient(top, #14c3cc, #0ccfaf);
    background-image: linear-gradient(to bottom, #14c3cc, #0ccfaf);
    text-decoration: none;
  }


  .bottom-container-P{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }


  a{
    color: #62B6B7;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }


  a:hover{
    color: #EAF6F6;
  }